# Ignorar binarios y ejecutables
main_mpi
generateRndSeeds

# Ignorar todos los archivos generados en data/
data/*

!data/.gitkeep
# Ignorar la carpeta venv/ que contiene el entorno virtual de Python
venv/